header {
    background-color: black;
    max-width: 1440px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 72px;
}

.logo img {
    width: 78px;
    height: 24px;
}

nav {
    display: flex;

    button {
        padding: 24px;
        height: 100%;
        background-color: black;


        a {
            color: white;
            font-size: 16px;
            line-height: 24px;
        }
    }
}

button:hover {
    background-color: #5221E6;
}


.header_btn {
    display: none;
}

@media (max-width: 600px) {
    .header_btn {
        display: block;
    }

    nav {
        display: none;
    }
}